### Dictionaries

Python dictionary represents a mapping between a key and a value. 

Python dictionary can store pairs of keys and values. 

Each key is linked to a specific value. 

Once stored in a dictionary, you can later obtain the value using just the key.

For example, consider the Phone lookup, where it is very easy and fast to find the phone number(value) when we know the name(Key) associated with it.

#### Characteristics of dictionaries
1. **Ordered** (In Python 3.7 and higher version): dictionaries are ordered, which means that the items have a defined order, and that order will not change. A simple Hash Table consists of key-value pair arranged in pseudo-random order based on the calculations from Hash Function.
2. **Unique**: As mentioned above, each value has a Key; the Keys in Dictionaries should be unique.  If we store any value with a Key that already exists, then the most recent value will replace the old value.
3. **Mutable**: The dictionaries are changeable collections, which implies that we can add or remove items after the creation.

#### Creating a dictionary

**Using curly brackets:** The dictionaries are created by enclosing the comma-separated Key: Value pairs inside the {} curly brackets. The colon ‘:‘ is used to separate the key and value in a pair.

**Using dict() constructor:** Create a dictionary by passing the comma-separated key: value pairs inside the dict().

In [1]:
di = {} ##Empty Dictionary
dii = dict()
print(type(di))
print(type(dii))

<class 'dict'>
<class 'dict'>

In [2]:
#dict_variable = {key1:value1,key2:vaule2 ,......}

cars = {1:"BMW",2:"AUDI",3:"BENZ"}
print(cars)
print(cars[1])

{1: 'BMW', 2: 'AUDI', 3: 'BENZ'}
BMW

1. A dictionary value can be of any type, and duplicates are allowed in that.

2. Keys in the dictionary must be unique and of immutable types like string, numbers, or tuples.

#### Accessing elements of a dictionary
There are two different ways to access the elements of a dictionary.

Retrieve value using the key name inside the **[] square brackets**

Retrieve value by passing key name as a parameter to the **get() method** of a dictionary.

In [3]:
# create a dictionary named person
person = {"name": "Ajay", "country": "India", "telephone": 9875463210}

# access value using key name in []
print(person['name'])
# Output 'Jessa'

#  get key value using key name in get()
print(person.get('telephone'))
# Output 1178

Ajay
9875463210

#### Get all keys and values

Use the following dictionary methods to retrieve all key and values at once

**keys()**	Returns the list of all keys present in the dictionary.

**values()**	Returns the list of all values present in the dictionary

**items()**	Returns all the items present in the dictionary. Each item will be inside a tuple as a key-value pair.

In [4]:
print(person.keys())
print(type(person.keys()))

print(person.values())
print(type(person.values()))  

print(person.items())
print(type(person.items()))

dict_keys(['name', 'country', 'telephone'])
<class 'dict_keys'>
dict_values(['Ajay', 'India', 9875463210])
<class 'dict_values'>
dict_items([('name', 'Ajay'), ('country', 'India'), ('telephone', 9875463210)])
<class 'dict_items'>

#### Iterating a dictionary

In [6]:
# Iterating the dictionary using for-loop
print('key', ':', 'value')
for key in person:
    print(key, ':', person[key])

# using items() method
print('key', ':', 'value')
for key_value in person.items():
    print(key_value[0], key_value[1])

key : value
name : Ajay
country : India
telephone : 9875463210
key : value
name Ajay
country India
telephone 9875463210

#### Find a length of a dictionary

In [7]:
print(len(person))

3

#### Adding items to the dictionary


**Using key-value assignment:** Using a simple assignment statement where value can be assigned directly to the new key.

**Using update() Method:** In this method, the item passed inside the update() method will be inserted into the dictionary. The item can be another dictionary or any iterable like a tuple of key-value pairs.

In [8]:
person["weight"] = 50
person.update({"height": 6})

print(person)

{'name': 'Ajay', 'country': 'India', 'telephone': 9875463210, 'weight': 50, 'height': 6}

In [9]:
person.update({"weight": 55, "height": 5})
print(person)

# pass new keys as as list of tuple
person.update([("city", "CBE"), ("company", "IBM",)])
print(person)

{'name': 'Ajay', 'country': 'India', 'telephone': 9875463210, 'weight': 55, 'height': 5}
{'name': 'Ajay', 'country': 'India', 'telephone': 9875463210, 'weight': 55, 'height': 5, 'city': 'CBE', 'company': 'IBM'}

#### Set default value to a key

Using the **setdefault()** method default value can be assigned to a key in the dictionary. In case the key doesn’t exist already, then the key will be inserted into the dictionary, and the value becomes the default value, and None will be inserted if a value is not mentioned.

In case the key exists, then it will return the value of a key.

#### Modify the values of the dictionary keys

In [11]:
person["telephone"] = 9784563210
print(person['telephone'])

person.update({"city": "Coimbatore"})
print(person['city'])

9784563210
Coimbatore

#### Removing items from the dictionary

**pop(key[,d])**	Return and removes the item with the key and return its value. If the key is not found, it raises KeyError.

**popitem()**	Return and removes the last inserted item from the dictionary. If the dictionary is empty, it raises KeyError.

**del key**	The del keyword will delete the item with the key that is passed

**clear()**	Removes all items from the dictionary. Empty the dictionary

**del dict_name**	Delete the entire dictionary

In [12]:
deleted_item = person.popitem()
print(deleted_item)  
print(person)

('company', 'IBM')
{'name': 'Ajay', 'country': 'India', 'telephone': 9784563210, 'weight': 55, 'height': 5, 'city': 'Coimbatore'}

In [13]:
deleted_item = person.pop('telephone')
print(deleted_item)  
print(person)

9784563210
{'name': 'Ajay', 'country': 'India', 'weight': 55, 'height': 5, 'city': 'Coimbatore'}

In [14]:
del person['weight']
print(person)

{'name': 'Ajay', 'country': 'India', 'height': 5, 'city': 'Coimbatore'}

In [15]:
person.clear()
print(person)

{}

In [16]:
# Delete the entire dictionary
del person

In [17]:
print(person)

NameError: name 'person' is not defined

#### Join two dictionary

We can add two dictionaries using the **update()** method or unpacking arbitrary keywords operator **. Let us see each one with an example.

Using update() method

In this method, the dictionary to be added will be passed as the argument to the update() method and the updated dictionary will have items of both the dictionaries.

In [19]:
CSE_A = {'Abi': 70, 'Arul': 80, 'Elango': 55}
CSE_B = {'Kavin': 68, 'Harish': 50, 'Jack': 66}

CSE_A.update(CSE_B)
print(CSE_A)

{'Abi': 70, 'Arul': 80, 'Elango': 55, 'Kavin': 68, 'Harish': 50, 'Jack': 66}

#### Using **kwargs to unpack

We can unpack any number of dictionary and add their contents to another dictionary using **kwargs. 

In this way, we can add multiple length arguments to one dictionary in a single statement.

In [21]:
student_A = {'Adhi': 1, 'Arul': 2}
student_B = {'Harry': 5, 'Kavin': 6}
student_C = {'Nancy': 7, 'Peter': 9}

student_dict = {**student_A, **student_B, **student_C}
print(student_dict)

{'Adhi': 1, 'Arul': 2, 'Harry': 5, 'Kavin': 6, 'Nancy': 7, 'Peter': 9}

In [22]:
#Join two dictionaries having few items in common
student_A1 = {'Adhi': 1, 'Arul': 2}
student_B1 = {'Harry': 5, 'Arul': 6}

student_A1.update(student_B1)
print(student_A1['Arul'])

6

#### Copy a Dictionary
Using copy() method.

In [25]:
dict1 = {'Adhi': 1, 'Arul': 2}

dict2 = dict1.copy()
print(dict2)

dict3 = dict(dict1) #Using the dict() constructor
print(dict3)

dict4 = dict(dict1.items())
print(dict4)

dict1['Arul']=3
print(dict1) #will be update only in dict1 not in dict2 or dict3 or dict4

{'Adhi': 1, 'Arul': 2}
{'Adhi': 1, 'Arul': 2}
{'Adhi': 1, 'Arul': 2}
{'Adhi': 1, 'Arul': 3}

#### Copy using the assignment operator

We can simply use the '=' operator to create a copy.

When you set **dict2 = dict1**, you are **making them refer to the same dict object**, so when you modify one of them, all references associated with that object reflect the current state of the object. 

So don’t use the assignment operator to copy the dictionary instead use the copy() method.

In [26]:
dict1 = {'Adhi': 1, 'Arul': 2}
dict2 = dict1
dict2.update({'Adhi': 90})
print(dict2)
print(dict1)

{'Adhi': 90, 'Arul': 2}
{'Adhi': 90, 'Arul': 2}

#### Nested dictionary

Nested dictionaries are dictionaries that have one or more dictionaries as their members. It is a collection of many dictionaries in one dictionary.

Let us see an example of creating a nested dictionary ‘Address’ inside a ‘person’ dictionary.

In [28]:
address = {"state": "TN", 'city': 'CBE'}

# dictionary to store person details with address as a nested dictionary
person = {'name': 'Jerry', 'company': 'IBM', 'address': address}

print("person:", person)

print("City:", person['address']['city'])

print("Person details")
for key, value in person.items():
    if key == 'address':
        # Iterating through nested dictionary
        print("Person Address")
        for n_k, n_v in value.items():
            print(n_k, ':', n_v)
    else:
        print(key, ':', value)

person: {'name': 'Jerry', 'company': 'IBM', 'address': {'state': 'TN', 'city': 'CBE'}}
City: CBE
Person details
name : Jerry
company : IBM
Person Address
state : TN
city : CBE

#### Add multiple dictionaries inside a single dictionary

In [35]:
Jerry = {'name': 'Jerry', 'state': 'TN', 'city': 'CBE', 'marks': 75}
Abi = {'name': 'Abi', 'state': 'TN', 'city': 'SLM', 'marks': 60}
kelvin = {'name': 'kelvin', 'state': 'TN', 'city': 'CBE', 'marks': 85}

# Outer dictionary to store all student dictionaries (nested dictionaries)
CSE = {'student1': Jerry, 'student2': Abi, 'student3': kelvin}

# Get student3's name and mark
print("Student 2 name:", CSE['student2']['name'])
print("Student 2 marks:", CSE['student2']['marks'])
print("Student 2 marks:", CSE['student2']['city'])

#nested Dictionary
print("\nClass details\n")
for k, v in CSE.items():
    print(k,"-->",v['name'])
    for n_k, n_v in v.items():
        print(n_k, ':', n_v)
    print('\n')

Student 2 name: Abi
Student 2 marks: 60
Student 2 marks: SLM

Class details

student1 --> Jerry
name : Jerry
state : TN
city : CBE
marks : 75


student2 --> Abi
name : Abi
state : TN
city : SLM
marks : 60


student3 --> kelvin
name : kelvin
state : TN
city : CBE
marks : 85

#### Sort dictionary

In [36]:
Items = {'Bread': 45, 'Note': 95, 'Pen': 35}

# sorting dictionary by keys
print(sorted(Items.items()))

# sort dict keys
print(sorted(Items))

# sort dictionary values
print(sorted(Items.values()))

[('Bread', 45), ('Note', 95), ('Pen', 35)]
['Bread', 'Note', 'Pen']
[35, 45, 95]

#### Dictionary comprehension

Dictionary comprehension is one way of creating the dictionary where the values of the key values are generated in a for-loop and we can filter the items to be added to the dictionary with an optional if condition. The general syntax is as follows

**output_dictionary = {key : value for key,value in iterable [if  key, value condition1]}**

In [37]:
numbers = [1, 3, 5, 2, 8]
s_n = {}
for i in numbers:
    s_n[i] = i**2
print(s_n)

{1: 1, 3: 9, 5: 25, 2: 4, 8: 64}

In [65]:
numbers = [1, 3, 5, 2, 8]
squares = {i: i ** 2 for i in numbers}
print(squares)

{1: 1, 3: 9, 5: 25, 2: 4, 8: 64}

In [41]:
numbers = [1, 3, 5, 2, 8]
s_n = {}
for i in numbers:
    if i % 2 == 0:
        s_n[i] = i**2
print(s_n)

{2: 4, 8: 64}

In [42]:
numbers = [1, 3, 5, 2, 8]
s_n = {i: i ** 2 for i in numbers if i % 2 == 0}
print(s_n)

{2: 4, 8: 64}

#### Python Built-in functions with dictionary

In [43]:
p = {'Abi': 70, 'Arul': 80, 'Elango': 55, 'Kavin': 68, 'Harish': 50, 'Jack': 66}
print("Minimum Marks: ",min(p)) #giving the result based on key
print("Maximum Marks: ",max(p)) #giving the result based on key

Minimum Marks:  Abi
Maximum Marks:  Kavin

In [45]:
print("Minimum Marks: ",min(p.values())) #giving the result based on Values
print("Maximum Marks: ",max(p.values())) #giving the result based on Values

Minimum Marks:  50
Maximum Marks:  80

**all()**

When the built-in function all() is used with the dictionary the return value will be true in the case of all – true keys and false in case one of the keys is false.

In [47]:
dict1 = {1:'True',1:'False'}
dict2 = {0:'True',1:'False'}

dict3= {}
dict4 = {'0':False}

print(all(dict1)) #All True Keys -->
print(all(dict2))#One False Key-->
print(all(dict3))#Empty Dictionary
print(all(dict4))#With 0 in single quotes

True
False
True
True

**any()**

any() function will return true if dictionary keys contain anyone false which could be 0 or false. Let us see what any() method will return for the above cases.

In [48]:
dict1 = {1:'True',1:'False'}
dict2 = {0:'True',1:'False'}

dict3= {}
dict4 = {'0':False}
dict5 = {0:False}

print(any(dict1)) #All True Keys -->
print(any(dict2))#One False Key-->
print(any(dict3))#Empty Dictionary
print(any(dict4))#With 0 in single quotes
print(any(dict5))#all false ::

True
True
False
True
False

In [51]:
item = {}
no_of_items = int(input("Enter the number of Items:"))
for i in range(no_of_items):
    i_name = input("Enter the item name: ")
    quan = int(input("Enter the quantity: "))
    item[i_name]=quan
print(item)

Enter the number of Items: 3
Enter the item name:  pen
Enter the quantity:  45
Enter the item name:  Stick
Enter the quantity:  15
Enter the item name:  Note
Enter the quantity:  60

{'pen': 45, 'Stick': 15, 'Note': 60}

In [57]:
item_s = dict(sorted(item.items()))
print(item_s)

{'Note': 60, 'Stick': 15, 'pen': 45}

In [64]:
print(sorted(item))
print(sorted(item.values()))
print(sorted(item.items()))
print(dict(sorted(item.items()))) 
#('pen', 45)

['Note', 'Stick', 'pen']
[15, 45, 60]
[('Note', 60), ('Stick', 15), ('pen', 45)]
{'Note': 60, 'Stick': 15, 'pen': 45}

In [59]:
#sorted(iterable, key=None, reverse=False)
sv_item = sorted(item.items(), key=lambda x: x[1])
sv_item = dict(sv_item)
print(sv_item)

{'Stick': 15, 'pen': 45, 'Note': 60}

In [58]:
sorted(item.items(), key=lambda x: x[1],reverse=True)

[('Note', 60), ('pen', 45), ('Stick', 15)]

In [60]:
sorted(item.items(), key=lambda x: x[0])

[('Note', 60), ('Stick', 15), ('pen', 45)]

In [66]:
marks = []
print("Enter 3 subject marks")
for i in range(3):
    marks.append(int(input()))
print(marks)

Enter 3 subject marks

 78
 67
 89

[78, 67, 89]

In [4]:
#stud_d = {'Arun':[78, 67, 89],'Harish':[78, 75, 83],'Jack':[78, 67, 89]}
stud_d = {}
n = int(input("Enter number of students: "))
for i in range(n):
    name = input("Enter student name: ")
    marks = []
    print("Enter 3 subject marks")
    for i in range(3):
        marks.append(int(input()))
    stud_d[name] = marks
print(stud_d)    
#define a function which compute the average and display name of the top ranker
#create a dict as stud_avg = {'Arun':85.5,'Harish':79.5,'Jack':81.5}
#Display the top-ranked person = Arun
def avg_rank(stud_d):
    stud_avg = {}

SyntaxError: incomplete input (3964681332.py, line 15)

In [3]:
print(sum([78, 67, 89]))
print(sum([78, 67, 89])/3)

234
78.0